<%@ CodeTemplate Language="C#" TargetLanguage="Html" Debug="False" CompilerVersion="v3.5"  ResponseEncoding="UTF-8" Description="生成实体对象" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Map Name="CSharpAlias" Src="DbType-CSharp.csmap" Reverse="False"%>
<%@ Property Name="Table" Type="SchemaExplorer.TableSchema" Category="参数" Description="表名" Optional="False" %>
<%
string TableRemark = Table.Description.Replace("\n","").Replace("\r","").Replace(" ","");
string TableName = Table.Name.Replace("\n","").Replace("\r","").Replace(" ","");
string pkName = "Id";
string pkType = "int";
if(Table.HasPrimaryKey)
{
    pkName = Table.PrimaryKey.MemberColumns[0].Name;
    pkType = CSharpAlias[Table.PrimaryKey.MemberColumns[0].SystemType.Name];
}
%>
@model <%= TableName %>
@{
    var title = "编辑<%= TableRemark %>";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.<%= pkName %></strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.<%= pkName %>)" value="@Model.<%= pkName %>" />
                <table class="table table-form table-dialog-form">
                
                <% 
                var j = 0;
                for(int i= 0;i< Table.Columns.Count;i++) { 
                ColumnSchema column = Table.Columns[i];
                string columnRemark = column.Description.Replace("\n","").Replace("\r","").Replace(" ","");
                if(column.Name==pkName) continue;
                string thClass = string.Empty;
                if(j==0)
                {
                    thClass = "class=\"w-100px\"";
                    j++;
                }
                %>
                    <tr>
                        <th <%= thClass %>>
                            <label class="control-label"><%=columnRemark  %>：</label>
                        </th>
                        <td>
                            <% if(column.SystemType==typeof(bool)) {%>
                            <div class="checkbox-list">
                                <label class="checkbox-inline">
                                    <input class="icheckbox-control" name="@nameof(Model.<%= column.Name %>)" value="true" type="checkbox" @Html.IsChecked(Model.<%= column.Name %>) />
                                    <span>启用</span>
                                </label>
                            </div>
                            <% } else {%>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.<%= column.Name %>)" value="@Model.<%= column.Name %>" type="text" />
                            </div>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>


@section script{
    <script>

        $(function () {
            //$('.editform').dataform().initSelect2().initiCheck()
            $('.editform').dataform().initValidate({
                rules: {
                    <% for(int i= 0;i< Table.Columns.Count;i++) { 
                        ColumnSchema column = Table.Columns[i];
                        string columnRemark = column.Description.Replace("\n","").Replace("\r","").Replace(" ","");
                        if(column.Name==pkName) continue;
                    %>
                    <%= column.Name %>: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    }<% if(i!=Table.Columns.Count-1) {Response.Write(",");} %> 
                    <%}%>
                },
                messages: {
                    <% for(int i= 0;i< Table.Columns.Count;i++) { 
                        ColumnSchema column = Table.Columns[i];
                        string columnRemark = column.Description.Replace("\n","").Replace("\r","").Replace(" ","");
                        if(column.Name==pkName) continue;
                    %>
                    <%= column.Name %>: {
                        required: '请填写<%= columnRemark %>'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    }<% if(i!=Table.Columns.Count-1) {Response.Write(",");} %> 
                    <%}%>
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

        });
    </script>
}