<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" CompilerVersion="v3.5"  ResponseEncoding="UTF-8" Description="生成实体对象" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Map Name="CSharpAlias" Src="DbType-CSharp.csmap" Reverse="False"%>
<%@ Property Name="NameSpace" Type="String" Category="参数" Description="命名空间" Default="Zeniths.HR" %>
<%@ Property Name="Table" Type="SchemaExplorer.TableSchema" Category="参数" Description="表名" Optional="False" %>
<%
string TableRemark = Table.Description.Replace("\n","").Replace("\r","").Replace(" ","");
string TableName = Table.Name.Replace("\n","").Replace("\r","").Replace(" ","");
string pkName = "Id";
string pkType = "int";
if(Table.HasPrimaryKey)
{
    pkName = Table.PrimaryKey.MemberColumns[0].Name;
    pkType = CSharpAlias[Table.PrimaryKey.MemberColumns[0].SystemType.Name];
}
%>
// ===============================================================================
// 正得信股份 版权所有
// ===============================================================================

using System;
using System.Collections.Generic;
using System.Data;
using System.Linq;
using <%= NameSpace %>.Entity;
using ZDX.Collections;
using ZDX.Data;
using ZDX.Extensions;
using ZDX.Utility;

namespace <%= NameSpace %>.Service
{
    /// <summary>
    /// <%= TableRemark %>服务
    /// </summary>
    public class <%=TableName%>Service
    {
        /// <summary>
        /// <%= TableRemark %>存储器
        /// </summary>
        private readonly Repository<<%=TableName%>> repos = new Repository<<%=TableName%>>();

        /// <summary>
        /// 检测是否存在指定<%= TableRemark %>
        /// </summary>
        /// <param name="entity"><%= TableRemark %>实体</param>
        /// <returns>如果存在指定记录返回BoolMessage.False</returns>
        public BoolMessage Exists(FlowButton entity)
        {
            return false;
            //var has = repos.Exists(p => p.Name == entity.Name && p.Id != entity.Id);
            //return has ? new BoolMessage(false, "输入名称已经存在") : BoolMessage.True;
        }

        /// <summary>
        /// 新增<%= TableRemark %>
        /// </summary>
        /// <param name="entity"><%= TableRemark %>实体</param>
        /// <returns>执行成功返回BoolMessage.True</returns>
        public BoolMessage Insert(<%=TableName%> entity)
        {
            try
            {
                repos.Insert(entity);
                return BoolMessage.True;
            }
            catch (Exception e)
            {
                return new BoolMessage(false, e.Message);
            }
        }

        /// <summary>
        /// 更新<%= TableRemark %>
        /// </summary>
        /// <param name="entity"><%= TableRemark %>实体</param>
        /// <returns>执行成功返回BoolMessage.True</returns>
        public BoolMessage Update(<%=TableName%> entity)
        {
            try
            {
                repos.Update(entity);
                return BoolMessage.True;
            }
            catch (Exception e)
            {
                return new BoolMessage(false, e.Message);
            }
        }

        /// <summary>
        /// 删除<%= TableRemark %>
        /// </summary>
        /// <param name="ids"><%= TableRemark %>主键数组</param>
        /// <returns>执行成功返回BoolMessage.True</returns>
        public BoolMessage Delete(<%=pkType%>[] ids)
        {
            try
            {
                if (ids.Length==1)
                {
                    repos.Delete(ids[0]);
                }
                else
                {
                    repos.Delete(ids);
                }
                return BoolMessage.True;
            }
            catch (Exception e)
            {
                return new BoolMessage(false, e.Message);
            }
        }
        
        /// <summary>
        /// 获取<%= TableRemark %>对象
        /// </summary>
        /// <param name="id"><%= TableRemark %>主键</param>
        /// <returns>返回<%= TableRemark %>对象</returns>
        public <%=TableName%> Get(int id)
        {
            return repos.Get(id);
        }
        
        /*
        /// <summary>
        /// 获取<%= TableRemark %>列表
        /// </summary>
        /// <returns>返回<%= TableRemark %>列表</returns>
        public List<<%=TableName%>> GetList()
        {
            var query = repos.NewQuery.OrderBy(p => p.<%= pkName %>);
            return repos.Query(query).ToList();
        }
        
        /// <summary>
        /// 获取启用的<%= TableRemark %>列表
        /// </summary>
        /// <returns>返回启用的<%= TableRemark %>列表</returns>
        public List<<%=TableName%>> GetEnabledList()
        {
            var query = repos.NewQuery.Where(p => p.IsEnabled == true).OrderBy(p => p.<%= pkName %>);
            return repos.Query(query).ToList();
        }
        
        /// <summary>
        /// 获取<%= TableRemark %>DataTable
        /// </summary>
        /// <returns>返回<%= TableRemark %>DataTable</returns>
        public DataTable GetTable()
        {
            var query = repos.NewQuery.OrderBy(p => p.<%= pkName %>);
            return repos.GetTable(query);
        }
        */
        
        /// <summary>
        /// 获取<%= TableRemark %>分页列表
        /// </summary>
        /// <param name="pageIndex">页面索引</param>
        /// <param name="pageSize">分页大小</param>
        /// <param name="orderName">排序列名</param>
        /// <param name="orderDir">排序方式</param>
        /// <param name="name">查询关键字</param>
        /// <returns>返回<%= TableRemark %>分页列表</returns>
        public PageList<<%=TableName%>> GetPageList(int pageIndex, int pageSize, string orderName,string orderDir, string name)
        {
            orderName = orderName.IsEmpty() ? nameof(<%=TableName%>.<%= pkName %>) : orderName;//默认使用主键排序
            orderDir = orderDir.IsEmpty() ? nameof(OrderDir.Desc) : orderDir;//默认使用倒序排序
            var query = repos.NewQuery.Take(pageSize).Page(pageIndex).OrderBy(orderName, orderDir.IsAsc());
            /*
            if (name.IsNotEmpty())
            {
                name = name.Trim();
                query.Where(p => p.Name.Contains(name));
            }
            */
            return repos.Page(query);
        }

        #region 私有方法


        #endregion
    }
}