@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body style="width: 800px;height:600px;">
    <div id="TestDiv">
        dsfsdfsdf
    </div>
</body>
</html>
