@{
}

<div class="container-zeniths">
    <form id="editform" class="form-horizontal" action="#" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>55</strong></span>
                编辑数据源资料
            </div>
            <div class="panel-body">

                <fieldset>
                    <legend>企业信用信息平台开通</legend>

                    <div class="form-group">
                        <label class="col-md-1 control-label">select2类型</label>
                        <div class="col-md-10">
                            <select class="select2-control form-control" name="Category1">
                                <option></option>
                                <option value="sqlserver">SQLServer</option>
                                <option value="oracle">Oracle</option>
                                <option value="oracleodp">OracleODP</option>
                                <option value="sqlite">SQLite</option>
                                <option value="mysql">MySQL</option>
                                <option value="excel">Excel</option>
                                <option value="integer">整数控件</option>
                                <option value="select">下拉控件</option>
                                <option value="date">日期控件</option>
                                <option value="time">时间控件</option>
                                <option value="checkboxgroup">复选组控件</option>
                                <option value="radiogroup">单选组控件</option>
                                <option value="datetime">日期时间控件</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            select2 multiple
                        </label>
                        <div class="col-md-10">
                            <select class="select2-control form-control" name="Category2" multiple>
                                <option value="1005">Permission</option>
                                <option value="1007">CDStationNet</option>
                                <option value="1011">Chart</option>
                                <option value="1014">公司rc_station</option>
                                <option value="1015">RC_STATION</option>
                                <option value="1019">旅游车号</option>
                                <option value="1022">联网售票中心DB</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">bootstrap-select</label>
                        <div class="col-md-10">
                            <select class="select-control form-control" name="select1">
                                <option selected></option>
                                <option value="text">文本控件</option>
                                <option value="integer">整数控件</option>
                                <option value="select">下拉控件</option>
                                <option value="date">日期控件</option>
                                <option value="time">时间控件</option>
                                <option value="datetime">日期时间控件</option>
                                <option value="checkboxgroup">复选组控件</option>
                                <option value="radiogroup">单选组控件</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">bootstrap-select</label>
                        <div class="col-md-10">
                            <select class="select-control form-control" name="select2" multiple>
                                <option value="text">文本控件</option>
                                <option value="integer">整数控件</option>
                                <option value="select">下拉控件</option>
                                <option value="date">日期控件</option>
                                <option value="time">时间控件</option>
                                <option value="datetime">日期时间控件</option>
                                <option value="checkboxgroup">复选组控件</option>
                                <option value="radiogroup">单选组控件</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="error-container">
                            <label class="col-md-1 control-label">sdfsf</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" name="sd1" />
                            </div>
                        </div>
                        <div class="error-container">
                            <label class="col-md-1 control-label">ecxcvxcv</label>
                            <div class="col-md-2">
                                <input class="form-control" name="sd2" type="text" />
                            </div>
                        </div>

                        <div class="error-container">
                            <label class="col-md-1 control-label">sdfsf</label>
                            <div class="col-md-2">
                                <input class="form-control" name="sd3" type="text" />
                            </div>
                        </div>
                        <div class="error-container">
                            <label class="col-md-1 control-label">ecxcvxcv</label>
                            <div class="col-md-1">
                                <input class="form-control" name="sd4" type="text" />
                            </div>
                        </div>

                    </div>



                    <div class="form-group">
                        <label class="col-md-1 control-label">chosen-select</label>
                        <div class="col-md-5">
                            <select class="chosen-control form-control" name="chosen1">
                                <option></option>
                                <option value="text">文本控件</option>
                                <option value="integer">整数控件</option>
                                <option value="select">下拉控件</option>
                                <option value="date">日期控件</option>
                                <option value="time">时间控件</option>
                                <option value="datetime">日期时间控件</option>
                                <option value="checkboxgroup">复选组控件</option>
                                <option value="radiogroup">单选组控件</option>
                            </select>
                        </div>

                        <label class="col-md-1 control-label">chosen-select2</label>
                        <div class="col-md-4">
                            <select class="chosen-control form-control" name="chosen2" multiple>
                                <option value="text">文本控件</option>
                                <option value="integer">整数控件</option>
                                <option value="select">下拉控件</option>
                                <option value="date">日期控件</option>
                                <option value="time">时间控件</option>
                                <option value="datetime">日期时间控件</option>
                                <option value="checkboxgroup">复选组控件</option>
                                <option value="radiogroup">单选组控件</option>
                            </select>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>其他信息</legend>

                    <div class="form-group">
                        <label class="col-md-1 control-label">名称</label>
                        <div class="col-md-10">
                            <input class="form-control" name="UName" type="text"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            可见性
                        </label>
                        <div class="col-md-10">
                            <div class="checkbox-list">
                                <label class="checkbox-inline">
                                    <input class="icheckbox-control" name="rname" value="1" type="checkbox" />
                                    <span>第一周</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input class="icheckbox-control" name="rname" value="2" type="checkbox" />
                                    <span>第二周</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">格式字符</label>
                        <div class="col-md-10">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input class="iradiobox-control" name="tname" value="1" type="radio">
                                    <span class="radio-label-name">是</span>
                                </label>
                                <label class="radio-inline">
                                    <input class="iradiobox-control" name="tname" value="0" type="radio">
                                    <span class="radio-label-name">否</span>
                                </label>
                                <label class="radio-inline">
                                    <input class="iradiobox-control" name="tname" value="" type="radio">
                                    <span class="radio-label-name">默认值</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-md-1 control-label">日期段</label>
                        <div class="col-md-10">
                            <input class="daterange-control daterange-style form-control" name="datar1" type="text" readonly>
                            <span class="fa fa-calendar form-control-feedback" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Date</label>
                        <div class="col-md-10">

                            <div class="input-group date">
                                <input class="date-control form-control" name="dataUser1">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Date Range</label>
                        <div class="col-md-4">

                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="form-control" name="start" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="end" />
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Datetime</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="datetime-control form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-md-1 control-label">时间</label>
                        <div class="col-md-10">
                            <input class="time-control time-style form-control" name="time1" type="text" readonly>
                            <span class="fa fa-clock-o form-control-feedback" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </div>
                    </div>


                    <div class="form-group has-feedback">
                        <label class="col-md-1 control-label">表盘</label>
                        <div class="col-md-10">
                            <div class="input-group clock-control" data-autoclose="true">
                                <input class="time-style form-control" name="time2" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-1 control-label">用户名</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            选项
                        </label>
                        <div class="col-md-10">
                            <input class="switch-control" type="checkbox" data-on-text="加密" data-off-text="不加密">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">备注</label>
                        <div class="col-md-10">
                            <textarea ar class="editor-control form-control" rows="10" id="Note" name="Note"></textarea>
                        </div>
                    </div>

                </fieldset>

            </div>
            <div class="panel-footer text-center">
                <button id="save" type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> 保存
                </button>
                &nbsp;
                <a id="cancel" class="btn btn-default" href="@Url.Action("Index")">
                    <i class="fa fa-arrow-right"></i> 返 回
                </a>
            </div>
        </div>
    </form>
</div>

@section script{
    <script>
        $(function () {
            $('form').dataform().initPlugin().initValidate({
                rules: {
                    Category1:'required',
                    UName:'required'
                }
            });
        });
    </script>
}
