@{
    var title = "外出登记管理";
}
<div class="container-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            @title
        </div>
        <div class="panel-body">
            <div class="search-panel-zeniths">
                <form class="form-inline search-form">
                    <div class="form-group">
                        外出时间：<input class="date-control form-control" name="@nameof(EmployeeGoOutRegistration.GoOutDateTime)" type="text" />&nbsp;至
                        <input class="date-control form-control" name="GoOutEndDateTime" type="text" />
                    </div>
                    &nbsp;
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> 查询
                    </button>
                    <a class="btn btn-success" id="btnCreate" data-url="@Url.Action("Create")">
                        <i class="fa fa-plus"></i> 新建
                    </a>
                    <a class="btn btn-danger" id="btnDelete" data-url="@Url.Action("Delete")">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                </form>
            </div>
            <div class="datagrid" data-url="@Html.Raw(Url.Action("GridMyself"))" data-query-form=".search-form">
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            zeniths.util.standardGridBind({
                editWidth: 900,
                editHeight: 500,
                viewWidth: 900,
                viewHeight: 850,
                loadCallback: function () {
                    //返回确认事件
                    $('.btnRecordConfirm').on('click', function () {
                        zeniths.util.dialog($(this).data('url'), 900, 720, {
                            callback: function () {
                                $('.datagrid').datagrid().reload();
                            }
                        });
                    });
                }
            });
        });
    </script>
}
