@{
    Layout = "~/Views/Shared/_LayoutBootstrapBase.cshtml";
}

@section style{
    <link href="~/Assets/css/login.css" rel="stylesheet" />
}
@section script{
    
}
<div class="loginBackground">
    <div class="container">
        <div class="row" style="margin-top:10%">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="row">
                    <img src="~/Assets/css/images/logo128.png" alt="正得信Logo" />
                </div>
                <div class="row marginBottom40">
                    <span class="loginTitle">
                        正得信股份综合管控平台
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row marginBottom20 has-feedback">
                            <input name="username" type="text" id="username" size="20" class="form-control input-lg" placeholder="账号" />
                            <i class="fa fa-user fa-2x form-control-feedback" style="color:#5BC0DE"></i>
                        </div>
                        <div class="row marginBottom20 has-feedback">
                            <input name="password" type="password" id="password" class="form-control input-lg" placeholder="密码" />
                            <i class="fa fa-lock fa-2x form-control-feedback" style="color:#5BC0DE"></i>
                        </div>
                        <div class="row marginBottom20">
                            <input type="submit" name="IbtnEnter" value="登 录" id="IbtnEnter"
                                   class="btn btn-primary btn-block btn-lg apply_btn" style="font-weight: bold;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom loginfoot"></nav>