@{Layout = null;}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>正得信股份综合管控平台-登录</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="~/assets/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/web/js/zeniths.util.js"></script>
    <script src="~/Content/js/login.js" type="text/javascript"></script>
</head>
<body>
    <div class="second_body">
        <form action="@Url.Action("Login")">
            <div class="logo">
                <img src="~/content/css/images/logo_img.png" alt="Logo" />
            </div>
            <div class="title-zh">正得信管控平台</div>
            <div class="title-en">Engineering Material Mangange System</div>
            <div class="message"></div>
            <table style="border-width: 0;width: 300px;">
                <tr>
                    <td style="padding-bottom: 5px; width: 55px;">用户名：</td>
                    <td colspan="2"><input class="login" id="username" type="text" /></td>
                </tr>
                <tr>
                    <td class="lable" style="letter-spacing: 0.5em; vertical-align: middle">密码：</td>
                    <td colspan="2"><input class="login" id="password" type="password" /></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <input type="button" value="登录" class="login_button" />
                        <input type="reset" value="重置" class="reset_button" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>