@section style{
    <link href="~/Plugin/zeniths.web/css/form.layout.css" rel="stylesheet" />
}
<div class="container-edit-zeniths">

    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            流程属性设置
        </div>
        <div class="panel-body form" style="margin:10px">

            <form class="form-horizontal">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_base" data-toggle="tab">
                                基本
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_base">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">流程标识：</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static" id="id"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">流程名称：</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="name" name="name" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类：</label>
                                <div class="col-sm-9">
                                    <select class="select2-control form-control" id="category" name="category">
                                        @Html.FlowCategoryOptions()
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">选项：</label>
                                <div class="col-sm-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            <input class="icheckbox-control" id="isEnabled" name="isEnabled" type="checkbox" value="true" />
                                            <span>发布流程</span>
                                        </label>
                                        <label class="checkbox-inline" style="padding-left:0">
                                            <input class="icheckbox-control" id="isDebug" name="isDebug" type="checkbox" value="true" />
                                            <span>开启调试</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">调试用户：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="selectmember form-control" id="debugUserIds" name="debugUserIds" disabled>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">序号：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="sortIndex" name="sortIndex">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注：</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="note" name="note" rows="3"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-primary" id="btnSave">
                    <i class="fa fa-save"></i> 确定
                </a>
                &nbsp;
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 取消
                </a>

            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        $(function () {

            var windowId = zeniths.util.GetUrlQuery('windowId');
            var parentWindow = top.frames[windowId];
             

            $('form').dataform().initSelect2({
                allowClear: false,
                width: '100%'
            }).initiCheck();

            $('#isDebug').on('ifToggled', function (e) {
                var checked = $(e.target).prop('checked');
                if (checked) {
                    zeniths.util.enabledSelectMember($('#debugUserIds'));
                } else {
                    zeniths.util.disabledSelectMember($('#debugUserIds'));
                }
            });


            function initForm() {
                var data = parentWindow.flowDesign.getProperty();
                if (!data.id) {
                    data.id = zeniths.util.createUUID();
                    data.sortIndex = 0;
                }
                $('#id').text(data.id);
                zeniths.util.setFormData(data);
            }

            //验证表单
            function validForm() {
                if ($('#name').val() === '') {
                    zeniths.util.msg('请输入流程名称');
                    return false;
                }
                if ($('#sortIndex').val() === '') {
                    zeniths.util.msg('请输入序号');
                    return false;
                }
                if (!$.isNumeric($('#sortIndex').val())) {
                    zeniths.util.msg('序号必须是数字');
                    return false;
                }
                return true;
            }

            function saveForm() {
                if (!validForm()) return;
                var formData = zeniths.util.getFormData($('form'));
                parentWindow.flowDesign.setProperty(formData);
                zeniths.util.closeFrameDialog(window);
            }

            initForm();

            $('#btnSave').click(function () {
                saveForm();
            });

            var read = zeniths.util.GetUrlQuery('read');
            if (read == 1) {
                $('#btnSave').remove();
                zeniths.util.disabledForm($('form'));
            }

        });
    </script>
}