@{
//Layout = null;
}
@section style{
    <link href="~/Plugin/zeniths.web/css/form.layout.css" rel="stylesheet" />
    <style>
        .popover {
            max-width: 400px;
        }
    </style>
}
<div class="container-edit-zeniths">

    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            节点设置
        </div>
        <div class="panel-body form" style="margin:10px">

            <form class="form-horizontal">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_base" data-toggle="tab">
                                基本
                            </a>
                        </li>

                        <li>
                            <a href="#tab_behavior" data-toggle="tab">
                                策略
                            </a>
                        </li>
                        <li>
                            <a href="#tab_handler" data-toggle="tab">
                                处理者
                            </a>
                        </li>
                        <li>
                            <a href="#tab_button" data-toggle="tab">
                                按钮
                            </a>
                        </li>
                        <li>
                            <a href="#tab_event" data-toggle="tab">
                                事件
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_base">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">步骤标识：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">步骤名称：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">审签类型：</label>
                                <div class="col-sm-9">
                                    <select class="select2-control form-control">
                                        <option value="0">无签批意见栏</option>
                                        <option value="1">有签批意见栏(无须签章)</option>
                                        <option value="2">有签批意见栏(须签章)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">超时提醒：</label>
                                <div class="col-sm-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            <input class="icheckbox-control" value="1" type="checkbox" />
                                            <span>提醒</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">警告工时：</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">小时</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">处理工时：</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">小时</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">表单类型：</label>
                                        <div class="col-sm-7">
                                            <select class="form-control select2-control">
                                                <option></option>
                                                @Html.FlowFormCategoryOptions()
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">表单名称：</label>
                                        <div class="col-sm-8">
                                            <select class="select2-control form-control">
                                                <option></option>
                                                @Html.FlowFormCategoryOptions()
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">说明：</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab_handler">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">选项：</label>
                                <div class="col-sm-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            <input class="icheckbox-control" value="1" type="checkbox" />
                                            <span>运行时选择</span>
                                        </label>
                                        <label class="checkbox-inline">
                                            <input class="icheckbox-control" value="1" type="checkbox" />
                                            <span>不允许选择并且有默认处理者时不弹出选择框</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">默认处理者：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                    <span class="help-block">指定默认处理者</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">处理者类型：</label>
                                <div class="col-sm-9">
                                    <select class="select2-control form-control">
                                        <option value="0">所有成员</option>
                                        <option value="1">部门</option>
                                        <option value="4">人员</option>
                                        <option value="5">发起者</option>
                                        <option value="9">发起者领导</option>
                                        <option value="10">发起者分管领导</option>
                                        <option value="6">前一步骤处理者</option>
                                        <option value="11">前一步处理者领导</option>
                                        <option value="12">前一步处理者分管领导</option>
                                        @*<option value="2">岗位</option>
                                            <option value="3">工作组</option>
                                            <option value="7">某一步骤处理者</option>
                                            <option value="8">字段值</option>*@
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择范围：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab_behavior">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">流转类型：</label>
                                <div class="col-sm-9">
                                    <select class="select2-control form-control">
                                        <option value="0">系统控制</option>
                                        <option value="1">单选一个分支流转</option>
                                        <option value="2">多选几个分支流转</option>
                                    </select>
                                    <span class="help-block">
                                        当前步骤后面有多个步骤时，此类型选择可以决定后续步骤的发送方式。
                                         
                                        <a class="help"
                                           data-toggle="popover"
                                           data-placement="bottom"
                                           data-html="true"
                                           data-content="
1.系统控制：由系统根据您在线上设置的流转条件来判断该发送到哪一步（线上的条件设置将在后面说明）。<br>
2.单选一个分支流转：后面有多个步骤时当前处理人员只能选择发送到后面的某一个步骤。<br>
3.多选几个分支流转：后面有多个步骤时当前处理人员可以多选发送到后面的某几个或全部步骤。">
                                            <i class="fa fa-question"></i>
                                        </a>
                                         
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">处理策略：</label>
                                <div class="col-sm-9">
                                    <select class="select2-control form-control">
                                        <option value="0">所有人必须同意</option>
                                        <option value="1">一人同意即可</option>
                                        <option value="3">独立处理</option>
                                        <option value="2">依据人数比例</option>
                                    </select>
                                    <span class="help-block">
                                        设置当前步骤的处理策略。
                                        <a class="help"
                                           data-toggle="popover"
                                           title="设置当前步骤的处理策略"
                                           data-html="true"
                                           data-content="1.所有人必须同意：如果当前步骤有多个人处理时，所有人都要同意才能发送到下一步，如果其中一人退回，则所有人的待办任务都将退回。<br>
2.一人同意即可：当前步骤有多人处理时，只要其中一个人处理了就发送到下一步，其他人就不须要再处理了。<br>
3.依据人数比例：按照下面的 策略百分比 来判断是否发送到下一步。如当有步骤有5人处理，策略设置为50，则只要有3人处理了则会发送到下一步。<br>
4.独立处理：每个人独立处理，如当前步骤有5人处理，则每个人发送了，下一步处理者都会收到一个待办任务。">
                                            <i class="fa fa-question"></i>
                                        </a>

                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">处理百分比：</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">会签策略：</label>
                                        <div class="col-sm-7">
                                            <select class="select2-control form-control">
                                                <option value="0">不会签</option>
                                                <option value="1">所有步骤同意</option>
                                                <option value="2">一个步骤同意即可</option>
                                                <option value="3">依据比例</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">百分比：</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">退回策略：</label>
                                <div class="col-sm-9">
                                    <select class="select2-control form-control">
                                        <option value="0">不能退回</option>
                                        <option value="1">退回前一步</option>
                                        <option value="2">退回第一步</option>
                                        <option value="3">退回某一步</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">退回步骤：</label>
                                <div class="col-sm-9">
                                    <select class="select2-control form-control">
                                        <option value=""></option>
                                        <option value="6421e3b1-a2bc-4418-b6d8-d38b4456bc9e">填写请假单</option>
                                        <option value="ce0c165a-778b-4817-a9c5-21f862f1c96e">领导审批</option>
                                        <option value="93536eaf-2ea1-4a29-9d88-8bad1927a96e">反馈发起人</option>
                                        <option value="baac846e-4ee2-44ee-b684-8cedb39578bb">人事部备案</option>
                                    </select>
                                </div>
                            </div>




                        </div>
                        <div class="tab-pane" id="tab_button">
                            Nestable List 控件实现
                        </div>
                        <div class="tab-pane" id="tab_event">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">提交前事件：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">提交后事件：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">退回前事件：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">退回后事件：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="panel-footer text-center">
            <div class="buttons">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i> 确定
                </button>
                &nbsp;
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 取消
                </a>

            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        $(function () {
            $('form').dataform().initSelect2({
                allowClear: false,
                width: '100%'
            }).initiCheck();

            $('.help').popover();

            //$(document.body).find('.popovers').each(function () {
            //    $(this).click(function (e) {
            //        $('.popover').remove();
            //        e.preventDefault();
            //        return false;
            //    });
            //    $(this).popover({
            //        trigger: 'click'
            //    });
            //});
            //$(document.body).click(function () {
            //    $('.popover').remove();
            //});
        });
    </script>
}

