@model PageList<EmployeeLeave>
@{
    Layout = null;
}

<thead>
    <tr>
        <th class="w-checkbox">
            <label><input class="checkbox-check" type="checkbox"><span></span></label>
        </th>
        <th class="w-50px">姓名</th>
        <th class="w-100px">部门</th>
        <th class="w-100px">岗位</th>
        <th class="w-80px" data-order="@nameof(EmployeeLeave.LeaveCategory)">请假类别</th>
        <th class="w-130px" data-order="@nameof(EmployeeLeave.StartDatetime)">预计开始请假时间</th>
        <th class="w-130px">预计结束请假时间</th>
        <th class="w-100px">预计请假天数</th>
        <th class="w-100px">请假事由</th>
        <th class="w-100px">当前处理步骤</th>
        <th class="w-50px">状态</th>
        <th class="w-100px">申请时间</th>
        <th class="w-120px text-center">操作</th>
    </tr>
</thead>

