@{
    var title = "查看日常费用报销";
}
<div class="container-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            @title
        </div>
        <div class="panel-body">
            <div class="search-panel-zeniths">
                <form class="form-inline search-form">
                    <div class="form-group">
                        <input class="w-300px form-control" name="name" type="text" placeholder="请输入关键字查询">
                    </div>
                    <div class="form-group">
                        <label>填报日期：</label>
                        <div class="input-group date">
                            <input class="w-150px date-control form-control" name="startDate" placeholder="请输入开始日期">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group date">
                            <input class="w-150px date-control form-control" name="endDate" placeholder="请输入结束日期">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> 查询
                    </button>
                   
                    @*<a class="btn btn-default" href="@Url.Action("Export")">
                            <i class="fa fa-share-square-o"></i> 导出
                        </a>*@
                </form>
            </div>
            <div class="datagrid" data-url="@Html.Raw(Url.Action("AllGrid"))" data-query-form=".search-form">
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            zeniths.util.standardGridBind({
                editWidth: 950,
                editHeight: 750,
                viewWidth: 950,
                viewHeight: 750
            });
        });
    </script>
}
