
@{
    Layout = null;
    bool allowDelete = ViewBag.allowDelete;
    string resId = ViewBag.resId;
    string resName = ViewBag.resName;
    string gridId = $"datagrid-{resName}-{resId}";
}
<div id="@gridId" data-show-alert="false" data-url="@Html.Raw(Url.Action("FilesGrid",new { resName, resId, allowDelete }))">
</div>