@{
    Layout = "~/Views/Shared/_LayoutBootstrapBase.cshtml";
}

@section style{
    <link href="~/Plugin/jquery-loadmask/css/jquery.loadmask.css" rel="stylesheet" />
    <link href="~/Areas/Auth/Assets/css/login.css" rel="stylesheet" />
}
@section script{
    <script src="~/Plugin/jquery-loadmask/js/jquery.loadmask.min.js"></script>
    <script src="~/Plugin/layer/layer.js"></script>
    <script src="~/Areas/Auth/Assets/js/login.js"></script>
}
<div class="loginBackground">
    <div class="container">
        <div class="row" style="margin-top:10%">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="row">
                    <img src="~/Areas/Auth/Assets/css/images/logo128.png" alt="正得信Logo" />
                </div>
                <div class="row marginBottom40">
                    <span class="loginTitle">
                        正得信股份全国管控平台
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row marginBottom20 has-feedback">
                            <input class="form-control input-lg" id="account" name="account" type="text" placeholder="账号" />
                            <i class="fa fa-user fa-2x form-control-feedback" style="color:#5BC0DE"></i>
                        </div>
                        <div class="row marginBottom20 has-feedback">
                            <input class="form-control input-lg" id="password" name="password" type="password" placeholder="密码" />
                            <i class="fa fa-lock fa-2x form-control-feedback" style="color:#5BC0DE"></i>
                        </div>
                        <div class="row marginBottom20">
                            <input class="btn btn-primary btn-block btn-lg apply_btn" type="submit" value="登 录"
                                   style="font-weight: bold;" data-url="@Url.Action("Login")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="nl-footer">
                @*<div class="nl-f-nav">推荐系统：win7及以上；推荐浏览器：google,firefox；推荐分辨率：1280*800及以上</div>
                    <div class="nl-f-nav">
                        <a href="javascript:void(0);">关于正得信股份</a>|
                        <a href="javascript:void(0);">联系我们</a>|
                        <a href="javascript:void(0);">帮助中心</a>
                    </div>*@
                <p class="nl-f-copyright">正得信股份版权所有&copy;2015&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom loginfoot"></nav>