
/*Panel组件*/
.panel-body, .panel-title, .tabs-title {
    font-size: 14px;
}


/*Tree组件*/

.tree-title, .tree-node-proxy, .tree-editor {
    font-size: 14px;
}


.l-btn-text, .datagrid-header .datagrid-cell span {
    font-size: 14px;
}

.datagrid-header-row,
.datagrid-row {
    height: 30px;
}

.textbox .textbox-text,.textbox .textbox-prompt {
    font-family: "Microsoft Yahei";
    font-size: 14px;
}
