@{
    var title = "分享给我的工作日志";
}
<div class="container-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            @title
        </div>
        <div class="panel-body">
            <div class="search-panel-zeniths">
                <form class="form-inline search-form">
                    <div class="form-group">
                        按日志日期查询:<input class="date-control form-control" name="logDateFirst" type="text" />
                        &nbsp;~&nbsp;&nbsp;<input class="date-control form-control" name="logDateLast" type="text" />
                    </div>
                    &nbsp;
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> 查询
                    </button>
                    <a class="btn btn-default" id="btnRefresh">
                        <i class="fa fa-repeat"></i> 刷新
                    </a>
                    <a class="btn btn-default" href="@Url.Action("Export")">
                        <i class="fa fa-share-square-o"></i> 导出
                    </a>
                </form>
            </div>
            <div class="datagrid" data-url="@Html.Raw(Url.Action("SharedGrid"))" data-query-form=".search-form">
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            zeniths.util.standardGridBind({
                editWidth: 900,
                editHeight: 700,
                viewWidth: 900,
                viewHeight: 700,
                loadCallback:function () {
                    $(' .btnRecordShare').on('click', function () {
                        var url = $(this).data('url');
                        zeniths.util.dialog(url, 900, 700, {
                            callback: function () {

                            }
                        });
                    });
                }
            });
        });
    </script>
}
