
<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="ace-icon fa fa-random"></i>
                流程执行错误
            </span>

        </h1>

        <hr />
        <h3 class="lighter smaller">
            <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
            @ViewBag.ErrorMessage
        </h3>

        <div class="space"></div>

        <hr />

    </div>
</div>